.conteiner{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.searhBox{
    margin: auto;
}
.searh{
    padding: 15px 8px;
    padding-left: 15px;
    font-size: 1.1rem;
    max-width: 550px;
    width: 450px;
    border: none;
    outline: none;
    border-radius:8px;
    background-color: #fff;
    color: #222;
}
.btn{
    padding: 12px 35px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius:8px ;
    border: none;
    transition: all .2s ease-in-out;
    background-color: #fff;
    color: #222;
    margin-left: 8px;
}
.btn:hover{
    background-color: #2037a0;
    color: #fff;
    transition: all .3s ease-in-out;
}

@media screen and (max-width:768px){
    .conteiner{
        margin-bottom: 25px;
    }
    .searh{
        width: 225px;
        padding: 12px 10px;
        font-size: 1rem;
    }
    .btn{
        padding: 12px 18px;
        font-size: 1rem;
        border-radius:5px ;
    }
}