.contenedorMovi{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 20px;
    justify-content: center;
    padding: 35px;
}

@media (max-width:768px){
    .contenedorMovi{
        padding: 10px;
        gap: 15px;
        grid-template-columns: repeat(auto-fit,110px);;

    }
}
