.moviCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    cursor: pointer;
    transition: transform .2s ease-in;
}

.moviCard p{
    font-size: 1.2rem;
}
.moviCard img{
    border-radius: 15px;
}

.moviCard:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in;
}

@media screen and (max-width:768px){
    .moviCard {
        align-items:start;
    }
    .moviCard p{
        font-size: .8rem;
    }
    .moviCard img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}